[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application

Name=Disable Nouveau driver
Comment=
Exec=sudo /opt/chimbalix-scripts/disable-nouveau-driver/disable-nouveau.sh pause
Icon=dialog-error
Path=
Terminal=true
StartupNotify=false

# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "Featherpad".
# Translations:
