[Desktop Entry]
Version=1.0
Type=Application
Name=Terminalix Quick Help
Comment=Open terminalix help
Exec=/opt/chimbalix-scripts/terminalix/terminalix.sh
Icon=help-about
Path=
Terminal=true
StartupNotify=false
