[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal SET - gnome-terminal
Comment=Set default terminal script
Exec=/portsoft/script/chimbalix-scripts/terminalix/terminalix.sh set gnome-terminal
Icon=aspia_console
Path=
Terminal=true
StartupNotify=false
